body{
    background: #F2F2F2 !important;
}
.navbar{
    background-color: #F2F2F2 !important;
}

.active{
    color: #2F80ED !important;
}

.nav-link{
    font-size: 24px;
    color: black !important;
}